@media screen and (min-width: 1023px){
  .s3d-fv, .s3d-pl {
  }
}

@media screen and (max-width: 1440px) {
  .s3d-fv, .s3d-pl{
    grid-template-columns: 400px var(--offset-controller-hor) auto;
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      grid-gap: 27px;
    }
    &__amount-flat {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 992px) {
  .s3d-fv, .s3d-pl{
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
    grid-template-areas: '.'
    'content';
    padding-right: var(--offset-controller-hor);
    padding-left: var(--offset-controller-hor);
    height: 100%;

    &__list {
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      grid-gap: 16px;
      padding-top: 20px;
    }
    &__title {
      text-align: right;
    }
    &__amount-flat {
      margin: 0 0 0 auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .s3d-fv, .s3d-pl{
    grid-template-rows: 20px 1fr;
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
      grid-gap: 10px;
      padding-top: 15px;
    }
  }
}
