@media screen and (min-width: 1023px) {
  .s3d-filter {
    &__checkbox {
      &:hover label {
        background-color: $color4;
        border-color: $color4;
      }

    }
    &__reset {
      &:hover {
        color: $color4;
        svg {
          fill: $color4;
        }
      }
    }
    &__hide {
      &:hover {
        color: $color4;
        &:after {
          border-bottom: 3px solid $color4;
        }
      }
    }
    &__th {
      &:hover:not([data-sort='none']) {
        color: $color4;
        cursor: pointer;
        .s3d-sort__arrow {
          fill: $color4;
        }
      }
    }
    &__tr {
      &:hover {
        background-color: $color1;
        .s3d-filter__td {
          color: $color2;
        }
      }
    }
    &__close:hover {
      transform: rotate(90deg)scale(1.2);
    }
  }
  .s3d-sort__arrow {

  }
}

@media screen and (max-width: 1440px) {
  .s3d {
    &-filter {
      &-wrap {
        --mini-info-fz: 10px;
        --table-th-fz: 10px;
        --table-td-fz: 12px;
        --checkbox-fz: 12px;
        --reset-fz: 12px;
        --amount-fz: 12px;
        --filter-title-fz: 18px;
        --filter-title-margin-bottom: 17px;
        --mini-info-height: 53px;

        width: 400px;
      }
      &__row {
        margin-bottom: 35px;
        &__title {
          font-size: 12px;
        }
      }
      &__checkbox {
        margin-right: 10px;
        label {
          height: 40px;
          width: 40px;
        }
      }
      &__top {
        padding-bottom: 40px;
      }
      &__hide {
        padding: 1px 27px 8px;
      }
      &__table {
        padding: 10px 0 0;
      }
      &__th {
        padding-bottom: 10px;
      }
      &__favourite {
        height: calc(16px * 2);
        width: calc(18px * 2);
      }
      &__reset {
        &-icon {
          width: 11px;
          height: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .s3d {
    &-filter {
    }
  }
}

@media screen and (max-width: 767px) {
  .s3d {
    &-filter {
      &-wrap {
        --mini-info-fz: 10px;
        --filter-title-fz: 16px;
        --filter-title-margin-bottom: 15px;
        --table-th-fz: 10px;
        --table-td-fz: 12px;
        --checkbox-fz: 12px;
        --checkbox-size: 40px;
        --reset-fz: 11px;
        --amount-fz: 12px;
        --mini-info-height: 47px;
        width: 100%;
      }
      &__row {
        margin-bottom: 33px;
        &__title {
          font-size: 12px;
        }
      }
      &__checkbox {
        margin-right: 10px;
      }
      &__top {
        padding-bottom: 25px;
      }
      &__hide {
        padding: 1px 22px 8px;
      }
      &__close {
        &-wrap {
          transform: translate(0, -25%);
        }
      }
      &__favourite {
        height: calc(16px * 2);
        width: calc(18px * 2);
      }
      &__reset {
        &-icon {
          width: 11px;
          height: 14px;
        }
      }
    }
  }
}
