@media screen and (min-width: 1023px) {
  .s3d {
    &-ctr {
      &__filter {
        &:hover {
          background-position: 0 0;
          .s3d-ctr__filter__icon circle:nth-of-type(1) {
            cx: 5.5;
          }
          .s3d-ctr__filter__icon circle:nth-of-type(2) {
            cx: 5.5;
          }
          .s3d-ctr__filter__icon circle:nth-of-type(3) {
            cx: 20.5;
          }
        }
      }
      &__helper {
        &:hover {
          &:after {
            transform: translateX(0);
          }
        }
      }
      &__option {
        &:focus, &:hover {
          .s3d-ctr__option__buttons {
            opacity: 1;
            visibility: visible;
            pointer-events: painted;
          }
          &:after {
            transform: translate(0, -50%)rotate(90deg);
          }
        }
      }
    }
    &-nav__btn {
      &:focus {
        outline-color: $color6;
      }
      &:hover:not(.active ):not( [ disabled ] ) {
        background: $color6;
        color: $color2;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .s3d {
    &-ctr{
    }
  }
}

@media screen and (max-width: 992px) {
  .s3d {
    &-ctr {
    }
  }
}

@media screen and (max-width: 767px) {
  .s3d {
    &-ctr{
    }
  }
}

@media screen and (max-width: 600px) {
  .s3d {
    &-ctr{

    }
  }
}
