@media screen and (min-width: 1023px) {
  .s3d {
    &-floor {
      &__nav {
        button:hover {
          border-color: $color1;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .s3d {
    &-floor {
      grid-template-columns: minmax(340px, 0.8fr) var(--offset-controller-hor) 0.6fr 0.4fr var(--offset-controller-hor) minmax(300px, 0.73fr);
      grid-template-rows: var(--s3d-header) 1fr auto 30px;
      &__info {
        padding-top: 30px;
      }
      &__flat {
        padding-top: 30px;
        grid-gap: 20px 0;
      }
      &__nav {
        font-size: 36px;
        &-title {
          font-size: 15px;
        }
        [data-floor_btn] {
          margin: 0 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .s3d {

  }
}
