@media screen and (min-width: 1023px) {
  .s3d {
    &__button {
      &:hover {
        background: $color5;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .s3d {
    &__button {
      width: 60px;
      height: 60px;
    }
  }
}

@media screen and (max-width: 992px) {
  .s3d {
    &-infoBox {
    }
  }
}

@media screen and (max-width: 680px) {
  .s3d {
    &__button {
      width: 40px;
      height: 40px;
      svg {
        height: 12px;
        width: 7px;
      }
    }
    &-infoBox {
      width: 140px;
      grid-column: 1 / 7;
    }
  }
}
