@media screen and (min-width: 1023px) {
  .s3d {
    &-ctr {
      &__open {
        &-filter {
        }
      }
      &__select {
        &:hover:not( .active ):not( [ disabled ] ) {
          background: $color2;
          color: rgba(255,255,255,1);
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .s3d {
    &-ctr{
    }
  }
}

@media screen and (max-width: 992px) {
  .s3d {
    &-ctr {
    }
  }
}

@media screen and (max-width: 767px) {
  .s3d {
    &-ctr{
    }
  }
}

@media screen and (max-width: 600px) {
  .s3d {
    &-ctr{

    }
  }
}
