@media screen and (min-width: 1023px) {
  .s3d {
    &-ctr__filter {
      &:hover {
        background: linear-gradient(90.2deg, #E23E28 0, #BF0045 0.18%, #E32318 99.83%);
        .s3d-ctr__filter__icon circle:nth-child(1) {
          cx: 5.5;
        }
        .s3d-ctr__filter__icon circle:nth-child(2) {
          cx: 5.5;
        }
        .s3d-ctr__filter__icon circle:nth-child(3) {
          cx: 20.5;
        }
      }
    }
    &-nav__btn {
      &:focus {
        outline-color: $color6;
      }
      &:hover:not(.active ):not( [ disabled ] ) {
        background: $color6;
        color: $color2;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .s3d {
    &-ctr{
    }
  }
}

@media screen and (max-width: 992px) {
  .s3d {
    &-ctr {
    }
  }
}

@media screen and (max-width: 767px) {
  .s3d {
    &-ctr{
    }
  }
}

@media screen and (max-width: 600px) {
  .s3d {
    &-ctr{

    }
  }
}
