$irs-height: 20px;
$irs-point: 16px;
$irs-fz: 16px;
$irs-color-text: $color1;
$irs-color-bg-line: $color3;
$irs-color-bar: $color1;
$irs-color-point: $wc;
$irs-color-point-stroke: $color1;

.irs {
  height: $irs-height;
  &--flat .irs-line{
    height: 1px;
    top: $irs-point / 2;
    background: $irs-color-bg-line;
  }
  &--flat .irs-bar {
    top: $irs-point / 2;
    height: 1px;
    background: $irs-color-bar;
  }
  &--flat .irs-handle {
    top: 0;
    width: $irs-point;
    height: $irs-point;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: content-box;
  }
  &--flat .irs-handle > i:first-child {
    width: 100%;
    position: static;
    margin: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: $irs-color-point;
    border: 1px solid $irs-color-point-stroke;
  }
  &--flat .irs-from, &--flat .irs-to, &--flat .irs-single {
    color: $irs-color-text;
    font-size: $irs-fz;
    top: $irs-point + 2px;
    background: none;
    &:before {
      display: none;
    }
  }
}
