.s3d {
  &-filter {
    position: relative;
    display: flex;
    width: 100%;
    height: initial;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex: 0 1 100%;
    padding: 0 var(--offset-controller-hor);
    background: transparent;
    grid-area: filter;
    overflow-x: hidden;
    overflow-y: auto;
    transition: height 0.4s ease-in-out;

    &-wrap {
      z-index: 110;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      align-items: flex-start;
      height: 100%;
      width: 400px;
      transform: translate(0, 0);
      transition: all .1s ease-out;
      grid-area: filter;
      visibility: hidden;
      background: transparent;

      // для вёрстки
      visibility: visible!important;
      transform: none!important;
      opacity: 1!important;
      //&:not(.s3d-show) {
      //  .irs-max, .irs-min,.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
      //    visibility: hidden!important;
      //  }
      //}
      &.active-filter{
        transform: translateX(-100%);
        transition: transform .5s ease-out, opacity .4s ease-in .45s,visibility 1ms linear .5s;
        //&:not(.s3d-open-filter) {
        //  .irs-max, .irs-min,.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
        //    visibility: hidden!important;
        //  }
        //}
        &.s3d-open-filter {
          transform: translateX(0);
          transition: transform .5s ease-out;
        }
      }
      &.s3d-open-filter {
        opacity: 1;
        transition: none;
      }

      &[data-type="plannings"] {
        .s3d-filter__table {
          display: none;
        }
        .s3d-filter__bg {
          display: inline-block;
        }
        .s3d-filter__amount-flat {
          display: none;
        }
        .s3d-filter__hide {
          display: none;
        }
      }
    }

    &__title {
      display: flex;
      align-items: center;
      align-content: center;
      width: 100%;
      color: $color1;
      font-size: 22px;
      font-weight: 400;
      line-height: 1.3em;
      font-family: $default-font2;
      text-transform: uppercase;
      padding: 0 var(--offset-controller-hor);
      margin: 0 0 25px;
    }

    &__row {
      display: flex;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 50px;
      &__title {
        flex: 1 0 100%;
        font-size: 16px;
        line-height: 1.3em;
        font-weight: 500;
        color: $color1;
      }
      &__list {
        width: 100%;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__top {
      position: relative;
      display: flex;
      align-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      flex-shrink: 0;
      padding: calc(var(--s3d-header) + 10px) 0 50px;
      transition: height 0.4s ease-out 0.2s;
      z-index: 5;
    }

    &__hide-button {
      position: absolute;
      bottom: 1px;
      left: 50%;
      display: none;
      transform: translate(-50%, 100%);
      padding: 3px 27px 10px;
      background: $wc;
      font-family: $default-font;
      font-weight: 500;
      font-size: 12px;
      line-height: 1em;
      color: $color1;
      transition: color 0.3s ease-in;
      border-radius: 0 0 50px 50px;
      cursor: pointer;
      * {
        pointer-events: none;
      }
      &:after {
        content: "";
        display: inline-block;
        height: 0;
        width: 0;
        margin-left: 10px;
        border-top: 3px solid transparent;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 3px solid $color2;
        transform: translateY(-50%);
      }
    }

    &__close {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.5s ease-in-out;
      &-wrap{
        display: none;
        position: absolute;
        top: var(--s3d-margin-top);
        right: 0;
        height: 50px;
        width: 70px;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        padding: 5px 5px 5px 25px;
        background: $wc;
        cursor: pointer;
        transform: translate(calc(100% - 20px), 0);
        transition: transform 0.5s ease-in-out;
        z-index: -1;
      }
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 1px;
        background: $color2;
        transition: color 0.5s ease-in;
        &:nth-child( 1 ) {
          transform: translate(-50%, -50%)rotate(-45deg);
        }

        &:nth-child( 2 ) {
          transform: translate(-50%, -50%)rotate(45deg);
        }
      }
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      align-content: flex-start;
      flex-wrap: wrap;
      grid-column: 1 /span 2;
    }

    &__amount-flat {
      display: none;
      width: 100%;
      height: 42px;
      align-items: center;
      align-content: center;
      color: #221F20;
      font-family: $default-font;
      font-size: 10px;
      font-weight: 500;
      line-height: 1em;
      background: #F2F2F2;
      padding: 0 0 0 40px;
      flex: 0 0 42px;

      &__num {
        margin: 0 7px;
      }
    }

    &--reset {
      display: flex;
      justify-content: center;
      width: initial;
      height: 30px;
      color: #E1DDD2;
      border: none;
      align-items: center;
      background: transparent;
      padding: 0;
      margin: auto 0 0 auto;
      transition: color .4s ease-in-out;
      cursor: pointer;
      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin-right: 5px;
        transition: background-color .4s ease-in-out;
        svg{
          width: 60%;
          height: 60%;
          fill: $color2;
          transition: fill .4s ease-in-out;
        }
      }
    }

    &__mini-info {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 0;
      flex-shrink: 0;
      padding: 0 20px;
      background: #CFBE97;
      overflow: hidden;
      box-shadow: 0px -10px 30px rgba(0, 89, 91, 0.25);
      transition: height 0.25s ease-out;
      &__title {
      }

      &__elem {
        span {
          margin: 0 0.5ch;
        }
      }
    }

    &__bg{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
      margin: auto 0 0 0;
    }

    &__scroll-active {
      .s3d-filter {
        &__mini-info{
          opacity: 1;
          height: 42px;
          transition: height 0.25s ease-in .3s;
        }
        &__top {
          padding-bottom: 50px;
          transition: height 0.4s ease-in;
          height: 0!important;
        }
        &__hide {
          visibility: hidden;
          pointer-events: none;
        }
        &__table {
          margin: 0;
        }
      }
    }
  }
  &-sort__arrow{
    display: flex;
    width: 5px;
    height: 3px;
    margin-left: 5px;
    &--svg{
      transform-origin: center;
      fill: $color1;
      stroke: none;
    }
    .sort-down{
      svg{
        transform: rotate(160deg);
      }
    }
  }
}

.active-filter{
  width: 400px;
  min-width: 320px;
  grid-area: filter;
  background: #FFFFFF;
  z-index: 130;
  opacity: 0;
  visibility: hidden;
  .s3d{
    &-filter{
      &__hide {
        display: block;
      }
      &__close-wrap{
        display: flex;
      }
      &__title{
        margin: 0;
      }
      &__table{
        display: flex;
      }
      &__amount-flat{
        display: flex;
      }
      &__bg{
        display: none;
      }
    }
  }
}
