.s3d {
  &-flat {
    height: 100%;
    width: 100%;
    max-height: 100vh;
    display: grid;
    padding: 0;

    &__title {
      grid-area: title;
      @extend .s3d-title;
    }

    &__image {
      display: inline-block;
      height: calc(100% - 60px);
      max-width: 80%;
      margin: 30px auto;
      grid-area: img;
      img{
        display: inline-block;
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;
        cursor: pointer;
      }
    }

    &__pdf {
      display: flex;
      align-items: center;
      align-content: center;
      order: 2;
      transition: color 0.3s ease-in;
      text-decoration: none;
    }

    &__show-3d {
      cursor: pointer;
      svg {
        margin-right: 10px;
      }
    }
    &__buttons{
      grid-area: type;
      display: flex;
      justify-content: center;
      align-content: center;
      margin: 0 auto;
      padding: 0;
    }
    &__buttons-view {
      justify-content: center;
      align-content: center;
      height: 25px;
      margin: auto auto 10px;
      display: none;
      grid-area: view;
      span {
        font-size: 14px;
        font-family: $default-font;
        font-weight: 500;
        line-height: 20px;
        color: #E1DDD2;
      }
      input {

        display: none;
        &:checked + span {
          color: $color2;
        }
      }

      label {
        cursor: pointer;
        pointer-events: painted;

      }

      &.show{
        display: flex;
      }
    }
    &__button{
      display: flex;
      height: auto;
      flex: 1 0 20%;
      margin: 20px 0 0;
      cursor: pointer;
      span{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100%;
        width: 100%;
        padding: 10px 20px;
        background: $color2;
        font-family: $default-font;
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        color: #ffffff;
        text-transform: uppercase;
        white-space: nowrap;
        transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
      }
      &-input{
        display: none;
        &:checked~span{
          color: #786F79;
          text-decoration: none;
          background: #F4F4F2;
          box-shadow: 0 4px 20px rgba(28, 73, 84, 0.35);
          cursor: no-drop;
        }

      }
      &.show{
        display: flex;
        pointer-events: painted;
        visibility: visible;
        opacity: 1;
        &:nth-last-child(1) span{
          border-top-right-radius: 40px;
          border-bottom-right-radius: 40px;
        }
        &:nth-child(1) span{
          border-top-left-radius: 40px;
          border-bottom-left-radius: 40px;
        }
      }
    }
    &__select {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 36px;
      height: 20px;
      margin: 0 15px;
      background: $color2;
      border-radius: 20px;
      padding: 2px;
      overflow: hidden;
      &-button {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: $wc;
      }

      input + span{
        margin: 0 auto 0 0;
      }

      input:checked + span{
        margin: 0 0 0 auto;
      }
    }
  }
}

img.mfp-img{
  background: #ffffff;
  max-height: calc(90% - 50px);
  max-width: calc(90% - 50px);
}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close{
  top: -50px;
  right: -50px;
  color: #ffffff;
}



