header.header
  .s3d__favourite.js-s3d__favourite-open
    label(data-id="" data-key="id" class="s3d__favourite")
      input( type="checkbox" data-key="checked")
      +svg('favourites').js-s3d__favourite-icon
    .s3d__favourite-count.js-s3d__favourite-count(data-count='0')
