$default-font: "Gilroy",
  sans-serif;
$default-font2: "Arsenal",
  sans-serif;

$wc: #ffffff;
$bc: #000000;
$color1: #2A3341;
$color2: #ECEAE1;
$color3: #A0A6AE;
$color4: #EFBC48;
$color5: #E23E28;
$color6: #0951BE;
$color-background: #FFFDF3;
$border-color: rgba(152, 152, 152, 0.25);

$disable-bg: rgba(152, 152, 152, 0.3);
$disable-text: #989898;

$padding-wrap: 45px;
$padding-wrap--small: 20px;
$name-project: 'montreal';

//$offset-controller-vert: 40px;
//$offset-controller-hor: 50px;

:root {
  --s3d-title: 42px;
  --s3d-header: 110px;
  --offset-controller-vert: 40px;
  --offset-controller-hor: 70px;
}

@media screen and (max-width:1440px){
  :root {
    --s3d-title: 30px;
  }
}


@media screen and (max-width:992px){
  :root {
  }
}
@media screen and (max-width:600px){
  :root {
    --s3d-title: 24px;
  }
}

@media screen and (max-width:680px){
  :root{
    --s3d-header: 40px;
  }
}
