$default-font: "Montserrat",
  sans-serif;
$default-font2: "Montserrat",
  sans-serif;

$wc: #ffffff;
$bc: #000000;
$color1: #007275;
$color2: #CFBE97;

$padding-wrap: 45px;
$padding-wrap--small: 20px;
$name-project: 'montreal';

:root {
  --s3d-title: 36px;
  --s3d-header: 50px;
}

@media screen and (max-width:1440px){
  :root {
    --s3d-title: 30px;
  }
}


@media screen and (max-width:992px){
  :root {
  }
}
@media screen and (max-width:600px){
  :root {
    --s3d-title: 24px;
  }
}

@media screen and (max-width:680px){
  :root{
    --s3d-header: 40px;
  }
}
