
extends ../layout/main
block variable
  -
    var nameProject = 'template'
    var title_page = 'Квартира 2А'
    var id_page = 'flat-page'
    var class_page = 'flat-page'

block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href=`/wp-content/themes/${nameProject}/assets/s3d/styles/s3d.min.css`)
block scripts
  script(defer src=`/wp-content/themes/${nameProject}/assets/s3d/scripts/vendors.bundle.js`)
  script(defer src=`/wp-content/themes/${nameProject}/assets/s3d/scripts/index.bundle.js`)
block content
  .js-s3d__slideModule.s3d__slideModule.scroll
    div#js-s3d__wrapper.s3d__flyby-container

    include ../includes/loader3d.html
block header
  include ../includes/header.pug
